body{
    font-family: 'Play';
}

.logo{
    width: 100px;
}

main{
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
}

.box-encriptado{
    width: 30%;
    text-align: center;
    margin: 20px 0 0 14%;
}

.msg-box{
    width: 20%;
    text-align: center;
    margin: 20px 0 0 14%;
}